.Quiz-Container{
    /* align-items: center;
    justify-content: center; */
    padding:40px;
    margin-left:600px;
    margin-top: 40px;
    text-align: center;
    width:600px;
    background:#000;
    border-radius: 10px;
    box-sizing: border-box;
    height:600px;
}
.question-count{
    font-size:40px;
    margin-bottom: 30px;
    color:#ffff;
    font-weight:500px;
    
}
.dark .question-count{
    color:#ffff;
}
.question-text{
    font-size:20px;
    margin-bottom: 30px;
    color:#ffff;
}
.dark .question-text{
    color:#ffff;
}
.Button{
    
    width: 500px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: #ff6600;
    outline: none;
    height: 40px;
    color:#ffff;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 15px 15px -5px rgba(0,0,0,0.08);
}
.Button:hover{
    width: 500px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: #ffff;
    outline: none;
    height: 40px;
    color: #ff6600;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 15px 15px -5px rgba(0,0,0,0.08);
}
.score{
    justify-content: center;
    color:red;
    text-align: center;
}
.scoreMessage{
    color: #ff6600;
}
/* .quiz-container{
    width:500px;
    background:#2d264b;
    border-radius: 4px;
    margin-top: 100px;
    padding:30px 60px;
    box-sizing: border-box;
    height:600px;
} */
