.Login{
    /* background-color:#e0f7fa; */
    background-size: cover;
    font-family: sans-serif;
    height:100%;
}
.SignInHeader {
    color:#ffff;
    text-align: center;
}
 
.imgLogin{
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: -23px;
    left: 150px;
    position: absolute;
    border-radius: 50px;

}

.containerLogin form{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 80px 50px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    font-size: 24px;  
    border-radius: 15%; 
    align-items: center;
}
.inputSignin{
    
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #000;
    outline: none;
    color: #fff;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 20px;

}
.dark input{
    border-bottom:3px solid #ffff;
}
.buttonSignin{
    text-align: center;
    margin-bottom: 20px;
    width:305px ;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ff6600;
    border-color:  #ff6600;
    position: relative;
    margin-top: 5px;
    border-radius: 10px;
    color:#ffff;

}

button:hover{
    border-color: aliceblue;
    background-color: #ffff;
    color: #ff6600;
}
#username::placeholder,
#password::placeholder {
    color: #ffff; 
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  black;
    text-decoration: none; 
    font-size: 20px;
}

span:hover {
    text-decoration: underline;
}
.dark span {
    color: #ffff;
    text-decoration: none; 
    font-size: 20px;
}
.custom-link{
    text-decoration: none; 
    color: inherit; 
  }



  @media (max-width: 600px) {
    .containerLogin form {
        width: 90%; /* Adjust the width as needed */
        padding: 40px 20px; /* Adjust the padding as needed */
        font-size: 16px; /* Adjust the font size as needed */
    }

    .imgLogin {
        display: none; /* Hide the image on screens with a width of 600 pixels or less */
    }

    input {
        width: 100%; /* Make the input take up the full width of the container */
        border-bottom: 2px solid #000; /* Adjust the percentage-based border width as needed */
        margin-top: 10px; /* Adjust the margin as needed */
        margin-bottom: 15px; /* Adjust the margin as needed */
    }

    .dark input {
        border-bottom: 3px solid #ffff;
    }

    .buttonSignin {
        width: 100%; /* Make the button take up the full width of the container */
    }
}