.leaderboard {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    display:block;
  }
.leaderboard h2{
    color:#000;
    font-weight: 500px;
    text-align: center;
}
.dark .leaderboard h2{
  color:#fff;
}
.QuizType{
  color:#000;
  font-size:40px;
}
.dark .QuizType{
  color:#fff;
}
.selectQuiz{
  color:#000;
}
.dark .selectQuiz{
  color:#fff;
}

.leaderboard p{
    color:#000;
    font-weight: 500px;
    text-align: center;
}
.quiz-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

.quiz-table {
  /* Add any additional styles for your table */
  width: 80%; /* Adjust the width as needed */
  border-collapse: collapse;
}

.quiz-table th, .quiz-table td {
  border: 1px solid #ddd; /* Add borders to table cells */
  padding: 8px;
  text-align: center;
}
  
  .quiz-table th {
    background-color: #f2f2f2;
  }
  
  .quiz-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .dark .quiz-table tbody tr:nth-child(even) {
    background-color: #000;
  }
  .dark .quiz-table tbody tr {
    color:#ffff;
  }