
.navbar{
  display:flex;
  width:100%;
  height: 80px;
  align-items: center;
  justify-content:space-between;
  background-color:#fff;
  padding: 15px 7%;
  transition: 0.5s;
}
ul{
  flex:1;
  list-style: none;
  text-align: center;
}
ul li{
  display: inline-block;
  margin: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}
.navbar ul li a:hover {
  background-color:rgb(231, 117, 10);
  color: #ffffff; 
  padding:15px;
  border-radius: 15px;
  font-size:25px;
}
.toggle-icon{
  width:80px;
  height:75px;
  cursor:pointer;
  margin-right:40px;
  margin-top: 5px;
  border-radius: 50%;
}
.custom-link{
  text-decoration: none; 
  color: inherit; 
  font-size: 20px;
}
.dark .navbar{
  background-color: #000;
  color:#fff;
}